
.footer {
    font-family: KoHo !important;
    font-weight: 500;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.4);
    position: fixed;
    background-color: #F37D0F;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
  }